In [2]:
import pandas as pd
url="DataSet/submission_82673.csv"
pd.read_csv(url)

      patient_id  metastatic_diagnosis_period
0         730681                   198.443169
1         334212                    72.933753
2         571362                   207.642742
3         907331                   224.025468
4         208382                    50.347159
...          ...                          ...
5641      649011                    47.058379
5642      869024                    80.581274
5643      304800                   219.563974
5644      267406                    65.721977
5645      873886                    47.631565

[5646 rows x 2 columns]